name: Generate install.sfs & initrd_lib.tar.gz from Docker Image

on:
  push:
    branches:
      - main
      - ceres
    tags:
      - v*
  pull_request:
    branches:
      - main
      - ceres
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker Image
        run: |
          docker build -f Dockerfile . -t devuan

      - name: Extract RootFS & generate install.sfs & initrd_lib.tar.gz
        run: |
          # Create Docker image
          docker create --name devuan devuan echo "Devuan"

          # Export it to install
          mkdir install
          docker export devuan | tar -C install -p -s -xv

          # Move grub-rescue.iso out
          mv install/grub-rescue.iso .

          # Remove .dockerenv
          rm -rf install/.dockerenv

          # Copy boot_hybrid.img for Legacy BIOS
          cp install/usr/lib/grub/i386-pc/boot_hybrid.img .

          # Create initrd_lib.tar.gz
          mkdir -p initrd_lib/usr/bin
          mkdir -p initrd_lib/usr/lib
          mkdir -p initrd_lib/usr/lib64
          ln -s usr/bin initrd_lib
          ln -s usr/lib initrd_lib
          ln -s usr/lib64 initrd_lib
          cp -t initrd_lib/bin install/usr/sbin/mount.ntfs-3g
          cp -t initrd_lib/bin install/usr/bin/ld.so
          cp -t initrd_lib/lib install/usr/lib/*/libc.so.*
          cp -t initrd_lib/lib install/usr/lib/*/libdl.so.*
          cp -t initrd_lib/lib install/usr/lib/*/libm.so.*
          cp -t initrd_lib/lib install/usr/lib/*/libpthread.so.*
          cp -t initrd_lib/lib install/usr/lib/*/libresolv.so.*
          cp -t initrd_lib/lib install/usr/lib/*/librt.so.*
          cp -t initrd_lib/lib install/usr/lib/*/libntfs-3g.so.*
          cp -t initrd_lib/lib install/usr/lib/*/ld-linux-x86-64.so.*
          cp -t initrd_lib/lib64 install/usr/lib64/ld-linux-x86-64.so.*

          # Get Docker busybox too
          mkdir -p docker_busybox
          wget "https://github.com/docker-library/busybox/raw/refs/heads/dist-amd64/latest/glibc/amd64/rootfs.tar.gz" -O - | tar -C docker_busybox -xzf -
          cp docker_busybox/bin/busybox initrd_lib/bin

          # Wrap initrd_lib up
          tar -czvf initrd_lib.tar.gz initrd_lib

          # Change ownership of install/ to 0:0
          sudo chown -R 0:0 install

          # Change chmod of dbus-daemon-launch-helper to 4754 with ownership 0:101
          sudo chown 0:101 install/usr/lib/dbus-1.0/dbus-daemon-launch-helper
          sudo chmod 4754 install/usr/lib/dbus-1.0/dbus-daemon-launch-helper

          # Create install.sfs
          sudo mksquashfs install install.sfs -noappend -comp zstd
          sudo chmod 755 install.sfs

          # Clean up
          sudo rm -rf docker_busybox rootfs_busybox.tar.gz install initrd_lib
          docker rm devuan

      - name: Set Vars
        id: vars
        run: |
          echo "arch=$(dpkg --print-architecture)" >> "$GITHUB_OUTPUT"

      - name: Upload install.sfs
        uses: actions/upload-artifact@v4
        with:
          name: install.sfs
          path: install.sfs

      - name: Upload initrd_lib.tar.gz
        uses: actions/upload-artifact@v4
        with:
          name: initrd_lib.tar.gz
          path: initrd_lib.tar.gz

      - name: Upload grub-rescue.iso
        uses: actions/upload-artifact@v4
        with:
          name: grub-rescue.iso
          path: grub-rescue.iso

      - name: Upload boot_hybrid.img
        uses: actions/upload-artifact@v4
        with:
          name: boot_hybrid.img
          path: boot_hybrid.img

  release:
    name: Release
    needs: build
    if: ((github.event_name == 'push' || github.event_name == 'workflow_dispatch') && startsWith(github.ref, 'refs/tags/v'))
    runs-on: ubuntu-latest
    steps:
      - name: Download RootFS
        id: download-rootfs
        uses: actions/download-artifact@v4
        with:
          path: out
          pattern: "*"
          merge-multiple: true

      - name: List Files
        run: ls -R ${{ steps.download-rootfs.outputs.download-path }}

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.RELEASE_TOKEN }}"
          prerelease: false
          files: |
            ${{ steps.download-rootfs.outputs.download-path }}/*
